#predictionsbox {
    display: inline-block;
    height: 50px;
    margin: 0px 25px;
    width: 1870px;
    opacity: 0;
    border: 2px solid black;
}

#predictionmessage {
    display: block;
    font-family: 'Formula1 Display Regular';
    font-size: 2.25em;
    font-weight: bold;
    color: white;
    /* -webkit-text-stroke-width: 0.2px; */
    /* -webkit-text-stroke-color: black; */
    margin: 10px 25px;
    opacity: 0;
}

.predictionbar {
    display: inline-block;
    height: 0px;
    background-color: white;
    vertical-align: top;
}

.predictionpercent {
    display: inline-block;
    height: 1em;
    /* background-color: white; */
    font-family: 'Formula1 Display Regular';
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 4px;
    line-height: 1em;
    /* -webkit-text-stroke-width: 0.1px; */
    /* -webkit-text-stroke-color: black; */
}

.predictionoption {
    display: inline-block;
    height: 50px;
    font-family: "Formula1 Display Regular";
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
}

.predictionoption-1 {
    background-color: #FFFFBF;
}

.predictionoption-2 {
    background-color: #DFDFDF;
}

.predictionoption-3 {
    background-color: #FFDF9F;
}

.predictionoption-topten {
    background-color: #DFFFDF;
}

.predictionoption-other {
    background-color: #CFCFFF;
}

.predictionoption-DNF {
    background-color: #EFCFFF;
}

.winnertext-1 {
    color: #FFFFBF;
}

.winnertext-2 {
    color: #DFDFDF;
}

.winnertext-3 {
    color: #FFDF9F;
}

.winnertext-topten {
    color: #DFFFDF;
}

.winnertext-other {
    color: #CFCFFF;
}

.winnertext-dnf {
    color: #EFCFFF;
}

#popuptext {
    display: inline-block;
    font-family: 'Open Sans Condensed';
    font-weight: 700;
    color: white;
    font-size: 60px;
    margin: 0;
    margin-left: 15px;
    white-space: nowrap;
}

#popupbox {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 0px;
    height: 82px;
    overflow: hidden;
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#popuptext img {
    width: 70px;
    margin-bottom: -12px;
    margin-right: -7px;
    margin-left: -8px;
}

#background {
	  position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(0,0,0,0.7);
    z-index: -10;
}
